/* GRIDS START */

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float: left;
    margin: 0;
    padding: 10px;
}

.col:first-child {
    margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.flex {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

/*  GRID OF TWELVE  */
.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.66%;
}

.col-10 {
    width: 83.33%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66%;
}

.col-7 {
    width: 58.33%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.66%;
}

.col-4 {
    width: 33.33%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66%;
}

.col-1 {
    width: 8.333%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 767px) {
    .col {
        margin: 1% 0 1% 0%;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        width: 100%;
    }
}

/* GRIDS END */